.button{
    width: 375px;
    height: 60px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 4px;
    cursor: progress;
}